@model Category;
@{
    ViewData["Title"] = "Delete";
}

<div class="container">
    <div class="row" style="margin-bottom:20px;
margin-left:20px;margin-top:15px;">
        <h3> Name:@Model.Name</h3>

     
    </div>
    <div class="row" style="margin-left:20px;">
        <h3> Are you sure</h3>
    </div>
    <div class="row" style="margin-left:20px;">
        <form method="post">
            <input type="submit" value="delete" class="btn btn-danger" />
        </form>
        <a asp-action="Index">Cancel</a>
    </div>
</div>

