@model Category;
@{
    ViewData["Title"] = "Update";
}
<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Update category</h4>

                <form class="forms-sample" method="post">
                    <div class="form-group">
                        <label asp-for="Name">Name</label>
                        <input asp-for="Name" class="form-control" placeholder="Name">
                        <span asp-validation-for="Name"></span>
                    </div>

                    <button type="submit" class="btn btn-danger mr-2">Update</button>
                    <button class="btn btn-light"><a asp-action="Index">Cancel</a></button>
                </form>
            </div>
        </div>
    </div>
</div>
